/* Estilo para las cuadrículas de películas y series en tres columnas */
.movies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.movie-item {
    text-align: center;
    cursor: pointer;
}

.movie-item img {
    max-width: 100%;
    border-radius: 10px;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
    color: white;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}

.footer-nav a.active {
    font-weight: bold;
    text-decoration: underline;
}

.details-content {
    text-align: center;
    padding: 20px;
}

.background-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.details-logo {
    max-width: 150px;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}
